// DEFINITIONS
$max-width: 1440px;

// COLOR PALETTE
$graysinh-blue: hsl(237, 18%, 59%); // Grayish blue
$soft-red: hsl(345, 95%, 68%); // Soft red

$white: hsl(0, 0%, 100%); // white
$dark-blue: hsl(236, 21%, 26%); // Dark desaturated blue
$very-dark-blue: hsl(235, 16%, 14%); // Very dark blue
$mostly-black: hsl(234, 17%, 12%); // Very dark (mostly black) blue

